@charaset "utf-8";

*, *:after, *:before {
  box-sizing: border-box;
}

body {
  border: 0;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: #2B2D2D;
  font-family: "遊ゴシック", "YuGothic", "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック";
  padding: 50px 20px;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.button-background-color {
  background-color: hotpink;
  padding:10px;
  color: #fff;
  border-radius: 10px;
  border: 1px solid hotpink;
}

.button-background-color:hover{
  background-color: #2B2D2D;
  color: #fff;
  border: 1px solid #2B2D2D;
}

.wrapper-element {
  display: grid;
  grid-template-columns: 1fr;
}

/* @media (max-width: 425px) {
  .form-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    max-width: 800px;
    margin: 30px auto;
    padding: 15px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
  }

  .wrapper-element {
    margin: 1.0em 0;
    display: grid;
    justify-content: center;
    border-radius: 30px;
  }

  input[type="text"]{
    width: 100%;
    padding: 5px 100px;
    margin: 5px 20px;
  }

  .sex-option {
    display: flex;
  }

  input[type="radio"]{
    display: block;
  }

  label {
    margin-right: 20px;
    text-align: center;
  }

  textarea {
    width: 100%;

  }

  button {
    margin: 1.0em 0

  }

} */
@media (min-width: 600px) {
  .form-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    max-width: 800px;
    margin: 30px auto;
    padding: 15px;
    border: 1px solid #DEDEDE;
    border-radius: 4px;
  }

  .wrapper-element {
    margin: 1.0em 0;
    grid-template-columns: 1fr 5fr;
    justify-content: center;
    border-radius: 30px;
  }

  input[type="text"]{
    width: 100%;
    padding: 5px 100px;
    margin: 5px 20px;
  }

  .sex-option {
    display: flex;
  }

  input[type="radio"]{
    display: block;
  }

  label {
    margin-right: 20px;
    text-align: center;
  }

  textarea {
    width: 100%;

  }

  button {
    margin: 1.0em 0;
    grid-template-areas:"box1 box2";
}

 .button-background-color {
   grid-area: box2;
 }